@charset "UTF-8";
:root {
    --colorBackground: #123538;
    --colorForeground: #f7deed;
    --colorAccent: #c8d4c4;
}

body {
    background-color: var(--colorBackground);
    color: var(--colorForeground);
    font-family: "Kachenjunga", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h1 {
    font-family: "Hurricane", cursive;
    font-size: 71px;
}

button {
    background-color: var(--colorAccent);
    color: var(--colorBackground);
    outline: none;
    border: none;
    border-radius: 3px;
    padding: 3px;
}